@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");


:root {
    --bgk-col-body: #222831;
    --font-col: #fafafa;
    --bkg-col-header: #e1f1f2;
    --font-col-header: #0e0d0d;
    --box-shadow-header-col: #202020;
    --font-col-logo: #1d1c1b;
    --font-col-h: #eba0a0;

    --bgk-col-nav: #393E46;
    --favi-nav-col: #eeddcc;

    --favi-hearts-col: rgb(238, 53, 53);
    --favi-likes-col: rgba(238, 231, 228, 0.7);

    --card-border-col: #e1f1f2;
    --h-col-light: #eba0a0;
    --bgk-likes-col: rgba(49, 51, 48, 0.6);

    --bkg-contact-col: rgba(60, 60, 60, 0.5);
    --contact-border-col: #e94545;
    --submit-btn-col: #454b1b;
    --go-back-col: rgb(243, 236, 233);
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bgk-col-body);
    font-family: 'Roboto', sans-serif;
    color: var(--font-col);
    min-height: 100vh;
}

a {
    text-decoration: none;
}


h1,
h2,
h3 {
    text-transform: capitalize;
    letter-spacing: 2px;
}

/* Utility function to hide elements from the user but still be available for search engines*/
.hidden-heading {
    display: none;
}


#header {
    background-color: var(--bkg-col-header);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 3px 3px var(--box-shadow-header-col);
    z-index: 99;
}


#logo {
    color: var(--font-col-logo);
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}


#navbar {
    position: absolute;
    background-color: #e1f1f2;
    left: 0;
    width: 100%;
    display: none;
    top: 100%;
}

.menu-item {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    padding: 0.5rem;
}

.active {
    border-bottom: 1px solid #1d1c1b;
}

#navbar a {
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 1.75rem;
    font-weight: 600;
    color: #1d1c1b;
}

#navbar a:hover {
    scale: 1.25;
    color: #1d1c1b;
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle-label {
    font-size: 3rem;
    color: var(--font-col-logo);
}


main {
    display: flex;
    flex-direction: column;
    margin-top: 59px;
    flex: 1 0 auto;
}


#social-networks {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: auto;
    bottom: 0;
    height: 4rem;
    width: 100%;
    font-size: 250%;
    background-color: var(--bgk-col-nav);

}

#social-networks a>i {
    color: var(--favi-nav-col);
    opacity: 0.6;
}

#social-networks a>i:hover {
    opacity: 1;
    scale: 1.25;
}

/*=====================================================================*/
/* INDEX.HTML */

#hero {
    position: relative;
    height: 45rem;
    width: 100%;
    background: url("/assets/images/surja-sen-das-raj-y16ku6si6xI-unsplash.jpg") no-repeat center center/cover;
    /* 
    https://unsplash.com/photos/a-notebook-with-a-pen-on-top-of-it-y16ku6si6xI?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash
    */
}

#cover-text {
    display: inline-block;
    position: absolute;
    bottom: 2rem;
    width: 75%;
    padding-left: 1rem;
    min-height: 6rem;
    font-size: 200%;
    background-color: var(--bkg-col-header);
    color: var(--font-col-logo);
}

#cover-text>h2 {
    padding: 0.5rem 0.5rem;
    color: var(--font-col-header);
    font-family: 'Roboto', sans-serif;
}


#add-tasks {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
    margin: 0 auto;
    padding-bottom: 3rem;
}


#tasks-header {
    margin: 1rem 0.5rem;
    text-align: center;
    color: var(--font-col-h);
    padding: 0.5rem 0.5rem;
    font-size: 200%;
}

#additional-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
}

.reason {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 0 0.25rem;
    min-height: 30rem;
}

.reason h3 {
    color: var(--font-col-h);
    padding-left: 1rem;
    font-size: 200%;
}

.reason h3>i {
    color: var(--favi-hearts-col);
}

.reason hr {
    border-top: 1px solid var(--font-col);
    margin: 0.5rem 0.5rem;
}

.reason ul {
    text-align: left;
    padding-left: 2rem;
    font-size: 180%;
    max-width: 280px;

}

.reason ul>li {
    padding: 0.5rem 0;
    list-style-type: disc;
}

#call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
}

#call-to-action h2 {
    margin: 1rem 0.5rem;
    color: var(--font-col-h);
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    font-size: 300%;
    text-align: center;
}

/*=====================================================================*/
/* TASKS.HTML*/

#todo-header {
    font-size: 3rem;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#score-area {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    h2{
        text-align: center;
        padding-bottom: 0.5rem;
    }
}

.score-area-list {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 80%;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    color: #fafafa;
}

.score-item {
    display: inline-block;
    padding: 0 0.5rem;

    span {
        color: lime;
    }
}

#task-cards-section {
    display: none;
    padding-bottom: 1rem;
    margin: 0 auto;
}

.task-card {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0 auto;
    height: auto;
    max-width: 280px;
    background-color: #ede576;
    border-radius: 1.5rem;

    .input-field {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        flex: 1;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        .task-def {
            font-size: 130%;
            width: 260px;
            min-height: 3rem;
            text-wrap: wrap;
            overflow: scroll;
            border-radius: 1rem;
        }
    }
}

.btn {
    background-color: #fafafa;
    color: #202020;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    background-color: #5473d0;
    color: #fafafa;
}


.btn--task {
    margin-top: 0.5rem;
    width: 15rem;
    height: 5rem;
    border-radius: 2rem;
    font-size: 200%;
}

.btn--categ {
    width: 15rem;
    height: 3rem;
    border-radius: 2rem;
    font-size: 150%;
    margin: 1rem;
}

#add-task-btn {
    margin-bottom: 1rem;
}

#task-activity-div,
#task-importance-div {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 95%;
    height: auto;
    margin: 0 auto;
}

#add-task-ok-btn {
    width: 95%;
}


.categ {
    width: 100%;
    border-radius: 1rem;
    flex-basis: 50%;
    padding: 0 1rem;
    color: #202020;
    font-size: 150%;
}

#work-categ-btn {
    padding: 0.5rem 0;
    background-color: #fafafa;
    border: 0.2rem solid #202020;
    max-width: 13rem;
}


#text-container {
    text-align: left;
    text-wrap: wrap;
    background-color: #cee0de;
    min-width: 28rem;
    height: auto;
    margin: 0 auto;
}

.task-item {
    margin: 0.5rem auto;
    line-height: 1.5;
    font-size: 120%;
    background-color: #393E46;
    h2 {
        text-align: center;
    }
    h3 {
        padding-left: 1rem;
    }
    
}
.edit-span, 
.remove-span{
    margin:0 1rem;
    float:right;
    cursor: pointer;
}

.innerHTML-task-category {
    display: flex;
    justify-content: space-around;
    span {
        border-radius: 1rem;
        margin: 0.5rem;
        padding: 0.2rem 0.75rem;
    }
}


/*=====================================================================*/

#signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

#signup-form {
    font-size: 130%;
    background-color: var(--bkg-contact-col);
    margin: 0 auto;
}

.how-to-example {
    padding-left: 1rem;
    width: 95%;
}

.how-to-example p {
    padding-left: 0.5rem;
    font-size: 90%;
}

#email-address,
#image-file,
#media-content,
#url,
#first-name,
#last-name {
    padding-bottom: 0;
    margin-bottom: 0;
}


.text-input {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    border: 1px solid var(--font-col);
    border-radius: 0.2rem;
}

.text-input:hover {
    border: 1px solid var(--contact-border-col);
}

.radio-button {
    padding-left: 1.5rem;
    line-height: 1.5;
    width: 100%;
}

#signup-form>h2 {
    padding-top: 1rem;
    text-align: center;
    padding-bottom: 1rem;
}

#signup-form>h3 {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    text-align: left;
    text-transform: capitalize;
    color: var(--font-col);
}

.submit-btn {
    text-align: center;
    margin: 0 auto;
    padding: 2rem 0;

}

#submit {
    border-radius: 0.5rem;
    padding: 1.5rem 3rem;
    border-radius: 2rem;
    font-size: 130%;
    color: #fafafa;
    background-color: var(--submit-btn-col);
}

#submit:hover {
    background-color: var(--font-col);
    color: var(--submit-btn-col);
}


.ok-card {
    margin: 2% auto;
    max-width: 280px;
    border: 1px solid var(--font-col);
    line-height: 4;
    padding: 0.5rem 3rem;
    text-align: center;
    border-radius: 10px;
}

.ok-card i {
    background-color: var(--bgk-col-body);
    color: var(--go-back-col);
    font-size: 400%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.ok-card p {
    font-size: 150%;
    color: var(--font-col);
    background-color: var(--submit-btn-col);
    ;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.ok-card p:hover {
    background-color: var(--font-col);
    color: var(--submit-btn-col);
}




@media screen and (min-width: 567px) {

    #additional-content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    #img-container {
        columns: 2;
    }


    #map {
        width: 567px;
        height: 400px;
    }

}

@media screen and (min-width: 768px) {

    #nav-toggle-label,
    #nav-toggle {
        display: none;
    }

    #navbar {
        display: flex;
        flex-direction: row;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 4rem;
        justify-content: space-between;
        gap: 3rem;
        font-size: 1.75rem;
        align-items: center;
    }

    #navbar div>a {
        color: #1d1c1b;
    }

    #img-container {
        columns: 3;
    }

    #cover-text {
        right: 8rem;
        max-width: 25rem;
    }

    #map {
        width: 768px;
        height: 400px;
    }

}

@media screen and (min-width: 992px) {

    #additional-content {
        columns: 4;
    }

    #img-container {
        columns: 4;
    }

    #map {
        width: 992px;
        height: 400px;

    }
}